---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Mexico Light scheme from https://github.com/drzel/base16-mexico-light-scheme
$base00: #f8f8f8;
$base01: #e8e8e8;
$base02: #d8d8d8;
$base03: #b8b8b8;
$base04: #585858;
$base05: #383838;
$base06: #282828;
$base07: #181818;
$base08: #ab4642;
$base09: #dc9656;
$base0a: #f79a0e;
$base0b: #538947;
$base0c: #4b8093;
$base0d: #7cafc2;
$base0e: #96609e;
$base0f: #a16946;

// smaller font size
//$type-size-1: 36px; //1.9528em; //2.441em !default; // ~39.056px
//$type-size-2: 28px; //1.5624em; //1.953em !default; // ~31.248px
//$type-size-3: 22px; //1.2500em; //1.563em !default; // ~25.008px
//$type-size-4: 16px; //1.0000em; //1.25em !default; // ~20px
//$type-size-5: 14px; //0.8000em; //1em !default; // ~16px
//$type-size-6: 11px; //0.6000em; //0.75em !default; // ~12px
//$type-size-7: 10px; //0.5500em; //0.6875em !default; // ~11px
//$type-size-8:  9px; //0.5000em; //0.625em !default; // ~10px

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
