---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/*
 * Color Scheme
 */

$link-color: #7f7f7f;
$link-color-visited: #7f7f7f;
$link-color-hover: #b47c1e;

// Mexico Light scheme from https://github.com/drzel/base16-mexico-light-scheme
$base00: #f8f8f8;
$base01: #e8e8e8;
$base02: #d8d8d8;
$base03: #b8b8b8;
$base04: #585858;
$base05: #383838;
$base06: #282828;
$base07: #181818;
$base08: #ab4642;
$base09: #dc9656;
$base0a: #f79a0e;
$base0b: #538947;
$base0c: #4b8093;
$base0d: #7cafc2;
$base0e: #96609e;
$base0f: #a16946;

/*
 * Layout
 */

// Remove left sidebar and enlarge right sidebar
$left-padding-width-narrow: 100px;
$left-padding-width: 150px;
$left-padding-width-wide: 200px;
$right-sidebar-width-narrow: 300px;
$right-sidebar-width: 450px;
$right-sidebar-width-wide: 600px;

// Enlarge maximum width
$max-width: 1600px;

/*
 * Font Styles
 */

// Mac users are likely to also have MS-fonts installed, so Apple-fonts should be placed above
$sans-serif: -apple-system, 'Roboto', 'Open Sans', 'Source Sans Pro', 'Noto Sans',
             'Helvetica', 'Arial', 'Linux Biolinum', 'Liberation Sans',
             'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN',
             'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'Microsoft YaHei', 'Microsoft JhengHei',
             'ST Heiti', 'SimHei',
             sans-serif;
// English serif fonts are somewhat bolder, so 'Medium' is added (so as 'STZhongsong')
$serif: 'Georgia', 'Times New Roman', 'Linux Libertine', 'Liberation Serif',
        'Roboto Slab', 'Source Serif Pro', 'Noto Serif',
        'Source Han Serif SC Medium', 'Source Han Serif CN Medium', 'Noto Serif CJK SC Medium',
        'STZhongsong', 'STSong', 'AR PL New Sung', 'NSimSun', 'SimSun', 'PMingLiU', 'MingLiU',
        serif;
$header-font-family: $serif;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
